<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
  <div class="row"  style="margin-top: 0.5em;">
    <div class="col-md-2">
      <p class="navbar-brand"><a href="#/">Self-test</a></p>
    </div>





    <div class="col-md-7">
      <tags-input ng-model="tags" placeholder="Hledejte test">
      <auto-complete source="hc.loadTags($query)"></auto-complete>
      </tags-input>
    </div>
    <div class="col-md-1 save-create-offset-1-less">
      <!--<button ng-if="hc.saveButtonEnabled && hc.loggedIn" id="single-button" type="button" class="btn btn-primary" ng-click="hc.saveTest()" style="margin-top: 5px;">
        {{hc.saveButtonText}}
      </button>-->
      <button ng-if="!hc.saveButtonEnabled && hc.loggedIn" id="single-button" type="button" class="btn btn-primary" ng-click="hc.newTest()" style="margin-top: 5px;">
        Vytvořit
      </button>
    </div>
    <div class="col-md-2 save-create-offset-1-more">
      <div class="btn-group" uib-dropdown is-open="status.isopen" style="margin-top: 5px;">
        <button id="single-button" ng-if="hc.loggedIn" type="button" class="btn btn-primary mySuperMargingSaveButtonToooFuckingClose" uib-dropdown-toggle ng-disabled="disabled">
          Můj účet<span class="caret"></span>
        </button>
        <ul ng-if="hc.loggedIn" class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
          <!--<li role="menuitem"><a href="#/testList">Hlavní stránka</a></li>
          <li role="menuitem"><a href="#/testEdit">Editace testu</a></li>
          <li role="menuitem"><a href="#/testPage">Testovací stránka</a></li>-->
          <li role="menuitem"><a href="#/history">Moje historie</a></li>
          <li role="menuitem"><a href="#/myTests">Moje testy</a></li>
          <li role="menuitem"><a href ng-click="hc.logout()">Odhlásit se</a></li>
          <!--<li class="divider"></li>
          <li role="menuitem"><a href="https://progtest.fit.cvut.cz/">Můj fetiš</a></li>-->
        </ul>
        <button ng-if="!hc.loggedIn" id="single-button" type="button" class="btn btn-primary loginMargin" ng-click="hc.login()" style="margin-top: 5px;">Přihlásit se</button>
      </div>
    </div>

  </div>
  <!--<div class="tags-div">-->

  </div>
</nav>
