<div class="panel-group" id="accordion" ng-controller="HistoryController as hc">
    <div class="header">
        <button type="button" class="btn btn-default " ng-click="hc.clearAllHistory()">{{hc.clearAllBtnText}}</button>
    </div>
    <div class="panel panel-default" ng-repeat="test in hc.tests" id="test{{$index}}">
        <div class="panel-heading row">
            <h4 class="panel-title col-sm-12">
                <a href ng-click="isCollapsed = !isCollapsed">{{test.name}}</a>
                <a href ng-click="isCollapsed = !isCollapsed">
                    <span ng-if="isCollapsed" class="glyphicon glyphicon-arrow-up pull-right"></span>
                    <span ng-if="!isCollapsed" class="glyphicon glyphicon-arrow-down pull-right"></span>
                </a>
                <span class="pull-right">Úspěšnost: {{test.rating}}%</span>
            </h4>

        </div>
        <div uib-collapse="!isCollapsed" class="panel-collapse collapse container-fluid">
            <div class="panel-body row">
                <div class="card pull-left col-sm-8">
                    <img ng-if="!test.noHistory" src="res/sample-rating-graph.png" class="panel-title pull-right"/>
                    <img ng-if="test.noHistory" src="res/sample-rating-graph-empty.png" class="panel-title pull-right"/>
                </div>
                <div class="pull-right col-sm-4">
                    <div class="card">
                        <br/>Počet spuštění: {{test.runCount}}
                        <br/>Maximum: {{test.maxScore}}%
                        <br/>Naposled: {{test.lastScore}}%
                    </div>
                    <button type="button" class="btn btn-default form-control" ng-click="hc.showCorrectAnswers()">{{hc.correctAnswersBtnText}}</button>
                    <button type="button" class="btn btn-default form-control" ng-click="hc.deleteHistory(hc.tests.indexOf(test))">{{hc.deleteBtnText}}</button>
                    <button type="button" class="btn btn-default form-control" ng-click="hc.runTest(test)">{{hc.runBtnText}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
