
<div class="panel-group" id="accordion" ng-controller="MyTestListController as mtlc">
    <div class="panel panel-default" ng-repeat="test in mtlc.tests" id="test{{$index}}">
        <div class="panel-heading row">
            <h4 class="panel-title col-sm-12">
                <a href ng-click="isCollapsed = !isCollapsed" class="panel-title">{{test.name}}</a>
                <a href ng-click="isCollapsed = !isCollapsed" class="panel-title">
                    <span ng-if="isCollapsed" class="glyphicon glyphicon-arrow-up pull-right"></span>
                    <span ng-if="!isCollapsed" class="glyphicon glyphicon-arrow-down pull-right"></span>
                </a>
                <img src="res/rating.png" class="panel-title pull-right"/>
                <button type="button" class="btn btn-default btn-sm pull-right col-sm-2" ng-click="mtlc.editTest(test)">{{mtlc.editBtnText}}</button>
                <button type="button" class="btn btn-default btn-sm pull-right col-sm-2" ng-click="mtlc.deleteTest($index)">{{mtlc.deleteBtnText}}</button>
            </h4>

        </div>
        <div uib-collapse="!isCollapsed" class="panel-collapse collapse container-fluid">
            <div class="panel-body row">
                <div class="card pull-left col-sm-8">
                    {{test.description}}
                </div>
                <div class="pull-right col-sm-4">
                    <div class="card">
                        some awesome parameters
                    </div>
                    <button type="button" class="btn btn-default form-control" ng-click="mtlc.runTest(test)">{{mtlc.runBtnText}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
