<div class="" ng-controller="TestResultController as tec">
    <div class="row">
        <div class="col-md-6">
            <h3>{{tec.test.name}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Dokončeno! Úspěšnost: {{tec.percent()}}% ({{tec.correctCount}}/{{tec.test.questions.length}})</h4>
        </div>
        <div class="col-md-6">
        <div class="form-inline pull-right">
            <button type="button" class="btn btn-default form-control" ng-click="tec.closeTest()">Zavřít test</button>
            <button type="button" class="btn btn-default form-control" ng-click="tec.repeatTest()">Spustit znovu</button>
            <button id="dislikebtn" title="Ohodnotit test" type="button" class="btn btn-default form-control glyphicon glyphicon-thumbs-down" ng-click="tec.dislike()"></button>
            <button id="likebtn" title="Ohodnotit test" type="button" class="btn btn-default form-control glyphicon glyphicon-thumbs-up" ng-click="tec.like()"></button>
        </div>
        </div>
    </div>
    <form class="form-horizontal">
        <div class="clearfix"></div>
        <div class="well margin-top" ng-repeat="question in tec.test.questions" ng-init="prevIndex = $index">
            <div class="row"> <div class="col-md-9"></div><div class="col-md-3"><button type="button" class="btn btn-default form-control" ng-click="tec.showQuestionReport()">Nahlásit otázku</button></div></div>
            <div class="form-control description margin-top"><span style="font-weight: bold">{{$index+1}}.</span>&nbsp;{{question.text}}</div>
            <div ng-if="question.type == 'simple-select'">
                <div class="input-group margin-top question-input" ng-repeat="answer in question.answers">
                <span class="input-group-addon">
                  <input type="radio" name="{{'answer' + prevIndex}}" id="{{'answer' + $index}}" disabled ng-checked="tec.answers[prevIndex].value == $index.toString()">
                </span>
                    <label for="{{'answer' + $index}}" class="form-control {{tec.style(prevIndex,$index)}}">{{tec.answerLetter($index)}})&nbsp;{{answer.text}}</label>

                </div>
            </div>
            <div ng-if="question.type == 'list-select'">
                <div class="margin-top row">
                    <div class="col-md-6">
                    <label for="answer{{$index}}" class="">Odpověď:</label>
                    <select id="{{'answer' + $index}}" style="width: 75%" disabled ng-model="tec.answers[$index].value" class="{{tec.style($index)}}">
                        <option
                                ng-repeat="answer in question.answers"
                                value="{{$index}}">
                            {{answer.text}}
                        </option>
                    </select>
                    </div>
                    <div class="col-md-6">
                        <span ng-if="!tec.isCorrect($index)" style="background: lightgreen"><label>Správně:</label>&nbsp;{{tec.correctAnswerText($index)}}</span>
                    </div>
                </div>

            </div>
            <div ng-if="question.type == 'multi-select'">
                <div class="input-group margin-top question-input" ng-repeat="answer in question.answers">
                    <span class="input-group-addon">
                        <input type="checkbox" name="{{'q' + '$prevIndex'+ 'a' + $index}}" id="{{'q' + '$prevIndex'+ 'a' + $index}}" disabled ng-checked="tec.answers[prevIndex].values[$index]">
                    </span>
                    <label for="{{'q' + '$prevIndex'+ 'a' + $index}}" class="form-control {{tec.style(prevIndex,$index)}}">{{tec.answerLetter($index)}})&nbsp;{{answer.text}}</label>

                </div>
            </div>
            <div ng-if="question.type == 'open-answer'">
                <div class="margin-top row">
                    <div class="col-md-6">
                        <label for="answer{{$index}}" class="">Odpověď:</label>
                        <input type="text" class="{{tec.style($index)}}" style="width:75%" id="answer{{$index}}"  ng-model="tec.answers[$index].value" disabled>
                    </div>
                    <div class="col-md-6">
                        <span ng-if="!tec.isCorrect($index)" style="background: lightgreen"><label>Správně:</label>&nbsp;{{question.answer}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>
