<div ng-controller="TestEditController as tec" ng-init="tec.onInit()" ng-model="tec.test" ng-change="tec.onChange()">
  <h3>Editace testu</h3>
  <button type="button" class="btn btn-default margin-bottom" ng-click="tec.saveAndFinish()">Uložit a dokončit</button>
  <div class="well">
    <form class="form-horizontal">
      <div class="form-inline">
          <input type="text" class="form-control input-sm test-name-input" placeholder="Název Testu" ng-model="test.name">
          <div class="checkbox checkbox-public">
              <label>
                  <input type="checkbox" ng-checked="{{tec.test.public}}"> Veřejný
              </label>
          </div>
          <div class="form-group password-input">
              <button type="button" class="btn btn-default form-control" ng-click="tec.passwordButtonClick()">{{tec.passwordButtonText}}</button>
          </div>
          <div class="form-group difficulty-input">
              <label for="select" style="font-weight: normal;">Obtížnost: </label>
              <select id="select" class="form-control input-sm" ng-model="tec.selectedDifficulty" ng-options="option as option for option in tec.difficulties" ng-change="tec.updateDifficulty()">
              </select>
          </div>
      </div>
      <textarea class="form-control description-input margin-top" rows="10" placeholder="Popis Testu" ng-model="test.description"></textarea>
      <tags-input ng-model="tec.test.tags" placeholder="Přidejte/Odeberte štítky">

      </tags-input>
      <div class="clearfix"></div>

      <div class="well margin-top" ng-repeat="question in tec.test.questions">
          <p style="font-size: 1.17em; font-weight: bold;">{{$index+1}}. {{tec.getQuestionTypeName(question.type)}}</p>
          <textarea class="form-control description-input" rows="3" placeholder="Text otázky" ng-model="question.text"></textarea>

          <div ng-if="question.type == 'simple-select'">
            <div class="input-group margin-top question-input" ng-repeat="answer in question.answers">
                <span class="input-group-addon">
                  <input type="radio" name="{{'radio' + prevIndex}}" ng-checked="answer.correct"></input> Správná odpověď
                </span>
                <input type="text" class="form-control " placeholder="Odpověď" ng-model="answer.text"></input>
                <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="tec.removeAnswer(question, answer)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Odebrat</button></span>
            </div>
          </div>

          <div ng-if="question.type == 'list-select'">
            <div class="input-group margin-top question-input" ng-repeat="answer in question.answers">
                <span class="input-group-addon">
                  <input type="radio" name="{{'radio' + prevIndex}}"></input> Správná odpověď
                </span>
                <input type="text" class="form-control " placeholder="Odpověď" ng-model="answer.text"></input>
                <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="tec.removeAnswer(question, answer)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Odebrat</button></span>
            </div>
          </div>

          <div ng-if="question.type == 'multi-select'">
            <div class="input-group margin-top question-input" ng-repeat="answer in question.answers">
                <span class="input-group-addon">
                  <input type="checkbox" name="{{'checkbox' + prevIndex}}" ng-checked="answer.correct"></input> Správná odpověď
                </span>
                <input type="text" class="form-control " placeholder="Odpověď" ng-model="answer.text"></input>
                <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="tec.removeAnswer(question, answer)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Odebrat</button></span>
            </div>
          </div>
          <div ng-if="question.type == 'open-answer'">
            <div class="input-group margin-top question-input">
                <textarea type="text" class="form-control" placeholder="Odpověď" ng-model="question.answer"></textarea>
            </div>
          </div>
          <div class="clearfix"></div>
          <div style="display: inline;">
            <button ng-style="tec.hiddenAnswers[$index]" type="button" class="btn btn-default margin-top ng-scope" ng-click="tec.addAnswer(question)">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Přidat odpověď
            </button>

            <button class="btn btn-default pull-right margin-top" type="button" ng-click="tec.removeQuestion(question)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Odebrat otázku</button>
          </div>
        </div>
        <div class="btn-group margin-top">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Přidat otázku <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="qType in tec.questionTypes"><a href ng-click="tec.addQuestion(qType.type)">{{qType.name}}</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
      <button type="button" class="btn btn-default margin-top" ng-click="tec.saveAndFinish()">Uložit a dokončit</button>
    </form>
  </div>
</div>
