<div class="" ng-controller="TestPageController as tec">
    <div class="row">
        <div class="col-md-6">
            <h3>{{tec.test.name}}</h3>
        </div>
        <div class="col-md-2 text-right"><div style="margin-top: 24px; margin-bottom: 10px;"><b>Dokončeno:</b></div></div>
        <div class="col-md-4">
            <div style="margin-top: 24px; margin-bottom: 10px;">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                     aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>
                    </div>
            </div>
             </div>
        </div>
    <form class="form-horizontal" ng-submit="tec.submit()">
        <div class="clearfix"></div>

        <div class="well margin-top" ng-repeat="question in tec.test.questions" ng-init="prevIndex = $index">
            <div class="form-control description"><span style="font-weight: bold">{{$index+1}}.</span>&nbsp;{{question.text}}</div>
            <div ng-if="question.type == 'simple-select'">
                <div class="input-group margin-top question-input" ng-repeat="answer in question.answers">
                <span class="input-group-addon">
                  <input type="radio" name="{{'answer' + prevIndex}}" id="{{'answer' + $index}}" ng-model="tec.answers[prevIndex].value" value="{{$index}}" ng-change="tec.countAnswers()">
                </span>
                    <label for="{{'answer' + $index}}" class="form-control ">{{tec.answerLetter($index)}})&nbsp;{{answer.text}}</label>

                </div>
            </div>
            <div ng-if="question.type == 'list-select'">
                <div class="margin-top row">
                    <div class="col-md-6">
                    <label for="answer{{$index}}" class="">Odpověď:</label>
                        <select id="{{'answer' + $index}}" style="width: 75%" ng-model="tec.answers[$index].value" ng-change="tec.countAnswers()">
                            <option
                                ng-repeat="answer in question.answers"
                                value="{{$index}}">
                                {{answer.text}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>

            </div>
            <div ng-if="question.type == 'multi-select'">
                <div class="input-group margin-top question-input" ng-repeat="answer in question.answers">
                    <span class="input-group-addon">
                        <input type="checkbox" name="{{'q' + '$prevIndex'+ 'a' + $index}}" id="{{'q' + '$prevIndex'+ 'a' + $index}}"
                               ng-model="tec.answers[prevIndex].values[$index]" ng-true-value="true" ng-false-value="false" ng-change="tec.countAnswers()">
                    </span>
                    <label for="{{'q' + '$prevIndex'+ 'a' + $index}}" class="form-control ">{{tec.answerLetter($index)}})&nbsp;{{answer.text}}</label>

                </div>
            </div>
            <div ng-if="question.type == 'open-answer'">
                <div class="margin-top row">
                    <div class="col-md-6">
                        <label for="answer{{$index}}" class="">Odpověď:</label>
                        <input type="text" class="" style="width: 75%" id="answer{{$index}}" value="" ng-model="tec.answers[$index].value" ng-change="tec.countAnswers()">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
           </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-default" style="margin-bottom: 1em;">Vyhodnotit</button>
    </form>
</div>
